<div>
    <div class="row">
        <div class="col-md-7">
          <app-view-heading
            [title]="pageTitle"
            [previousRouteLink]="'/prediction-summary-page'"            
          ></app-view-heading>    
        </div>
        <div class="col-md-5" style="position: relative">
            <span style="position:absolute; right:2%; top:20%">{{dashboardtime}}</span>
        </div>
    </div>

    
    <div class="row mt-4">
        <div class="col-md-6">  
            <div class="row">
                <img src="assets/img/QMM.png">
            </div>
            <div class="row mt-2">
                <div class="col-md-4">
                    <app-indicator-custom-sample
                    [name]="'% Predicted Pass'"
                    [group]=""
                    [callout]="PredictedPassResult"
                    [details]="['Click to see details']"                                            
                    (click)="openLotList('pass')"
                    ></app-indicator-custom-sample>                                                      
                </div>
                <div class="col-md-4">
                    <app-indicator-custom-sample
                    [name]="'% Predicted Fail'"
                    [group]=""
                    [callout]="PredictedFailResult"
                    [details]="['Click to see details']"
                    (click)="openLotList('fail')"
                    ></app-indicator-custom-sample>                                            
                </div>
                <div class="col-md-4">
                    <app-indicator-custom-sample
                    [name]="'Total Fail / Total Predictions'"
                    [group]=""
                    [callout]="TotalFailOverTotalCase" 
                    [details]=""
                    ></app-indicator-custom-sample>                        
                </div>                
            </div>
        </div>

        <div class="col-md-6">             
            <section class="chart" style="height: 100%">
                <kendo-chart>
                    <kendo-chart-value-axis>
                        <kendo-chart-value-axis-item [min]="0" [max]="100" ></kendo-chart-value-axis-item>
                    </kendo-chart-value-axis>
                    <kendo-chart-title text="Real-time Predicted Yield - {{machineID}}"></kendo-chart-title>
                    <kendo-chart-legend position="bottom" orientation="horizontal" ></kendo-chart-legend>
                    <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
                    <kendo-chart-series>
                        <kendo-chart-series-item *ngFor="let item of realTimeChartSeries" type="line" [style]="smooth" [data]="item.data" [name]="item.name" [markers]="item.markers"></kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>    
            </section>            
        </div>
    </div>


    <div class="row mt-4">
        
        <div class="col-md-6">   
                            
            <kendo-grid
                [sortable]="true"
                [kendoGridBinding]="YieldByProcessGridData"
                [sort]="sortByProcess">
                <kendo-grid-column field="processId" title="Process ID" [width]="68" > 
                </kendo-grid-column>
                <kendo-grid-column field="passRate" title="Predicted Yield (%)" [width]="74">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span style="display: block; height: 35px; padding-top: 10px;" [style.backgroundColor]="cellColorCode(dataItem.passRate,dataItem.targetPassRate)">
                        {{ dataItem.passRate }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="targetPassRate" title="Target (%)" [width]="50"></kendo-grid-column>
            </kendo-grid>
        </div>

        <div class="col-md-6">
            <section class="chart">
                <kendo-chart [categoryAxis]="{ categories: categories, labels: { rotation: 'auto'}  }">
                    <kendo-chart-value-axis>
                        <kendo-chart-value-axis-item [min]="0" [max]="100" ></kendo-chart-value-axis-item>
                    </kendo-chart-value-axis>
                    <kendo-chart-title text="Daily Predicted Yield - {{machineID}} (Last 14 Days)"></kendo-chart-title>
                    <kendo-chart-legend position="bottom" orientation="horizontal" ></kendo-chart-legend>
                    <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
                    <kendo-chart-series>
                        <kendo-chart-series-item *ngFor="let item of dailyChartSeries" type="line" [style]="smooth" [data]="item.data" [name]="item.name" [markers]="item.markers"></kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>
            </section>

        </div>

    </div>

    <div class="k-overlay" *ngIf="showLotList"></div>
    
    <kendo-window
        title={{lotListTitle}}
        *ngIf="showLotList"
        (close)="closeLotListWindow()"
        [minWidth]="250" 
        [width]="900"   
        [(top)]="windowTop"
        [(left)]="windowLeft"
    >
 
        <kendo-grid
            [kendoGridBinding]="lotListData"
            kendoGridSelectBy="id"           
            [pageSize]="20"
            [pageable]="true"
            [sortable]="true"
            [groupable]="true"
            [reorderable]="true"
            [resizable]="true"
            [height]="500"
            [columnMenu]="{ filter: true }"
            [sort]="sortByCol"
        >
            <ng-template kendoGridToolbarTemplate>
                <button kendoGridExcelCommand type="button" icon="file-excel">Export to Excel</button>
                <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
            </ng-template>
            <kendo-grid-checkbox-column
                [width]="45"
                [headerClass]="{ 'text-center': true }"
                [class]="{ 'text-center': true }"
                [resizable]="false"
                [columnMenu]="false"
                showSelectAll="true"            
            ></kendo-grid-checkbox-column>

            <kendo-grid-column field="machineId" title="Machine ID" [width]="140"></kendo-grid-column>
            <kendo-grid-column field="processId" title="Process ID" [width]="120"></kendo-grid-column>
            <kendo-grid-column field="batchId" title="Batch ID" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="workpieceId" title="Workpiece ID" [width]="150"></kendo-grid-column>
            <kendo-grid-column field="createdDateTime" title="Date" [width]="200">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.createdDateTime | date: 'YYYY-MM-dd hh:mm:ss a'}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="predictResult" title="Result" [width]="130">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <span style="display: block; height: 35px; padding-top: 10px;" [class]="{'codeColumn': true}">
                        {{ dataItem.predictResult }}
                    </span>
                    </ng-template>
            </kendo-grid-column>

            <kendo-grid-pdf
            fileName="predictionLotList.pdf"
            [repeatHeaders]="true"
            ></kendo-grid-pdf>
            <kendo-grid-excel fileName="predictionLotList.xlsx"></kendo-grid-excel>

        </kendo-grid>  

    </kendo-window>

    

</div>














