<!-- <div>
    <ul class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/prediction-summary-page']">Back</a>
        </li>
    </ul>
</div> -->
<div style="width: 40%; margin-left: 30%; margin-right: 30%; text-align: center;">
    <h1>Prediction Result History</h1>
</div>
<div class="container-fluid">
    <div style="width: 60%; margin-left: 20%; margin-right: 20%;">
        <div style="width: 50%;display: inline-grid;">
            <kendo-label [for]="startdatetimepicker" [text]="'Select start date:'"></kendo-label>
            <kendo-datetimepicker #startdatetimepicker style="width: 300px;" [(value)]="startDateValue">
            </kendo-datetimepicker>
        </div>
        <div style="width: 50%;display: inline-grid;">
            <kendo-label [for]="enddatetimepicker"  [text]="'Select end date:'"></kendo-label>
            <kendo-datetimepicker #enddatetimepicker style="width: 300px;" [(value)]="endDateValue">
            </kendo-datetimepicker>
        </div>
        <div style="text-align: center;width: 60%; margin-left: 20%; margin-right: 20%;">
            <br>
            <button class="k-button" (click)="search()">Search</button>
            <br>
            <br>
        </div>
    </div>
</div>
<div style="width: 80%; margin-left: 10%; margin-right: 10%;">
    <kendo-grid
        style="color: black;"
        [kendoGridBinding]="ResultGridData"
        [resizable]="true"
        [filterable]="true"
        [groupable]="true"
        [sortable]="true"
        [pageSize]="10"
        [pageable]="true"
        [sort]="sortByCol">
        <kendo-grid-column field="machineId" title="Machine ID" [width]="140"></kendo-grid-column>
        <kendo-grid-column field="processId" title="Process ID" [width]="120"></kendo-grid-column>
        <kendo-grid-column field="batchId" title="Batch ID" [width]="100"></kendo-grid-column>
        <kendo-grid-column field="workpieceId" title="Workpiece ID" [width]="120"></kendo-grid-column>
        <kendo-grid-column field="createdDateTime" title="Date" [width]="200">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.createdDateTime | date: 'YYYY-MM-dd hh:mm:ss'}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="predictResult" title="Result" [width]="130">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span style="display: block; padding: 8px;" [style.backgroundColor]="colorCode(dataItem.predictResult)">
                  {{ dataItem.predictResult }}
                </span>
              </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>
