@import "variables";




.summaryTable {
    text-align:center;
    display:inline-block;
    width:100%;
}
.summaryCell {
    text-align:center;
    display:inline-block;
}
::ng-deep .k-column-title {
    white-space: normal;
}
::ng-deep .k-grid td{
    padding: unset;    
    height: 35px;
    text-align-last: center;
}

section.chart {

  border: $border-100;
  border-radius: $border-radius;
  padding: 0.5rem;

}