<div>

    <div class="row">
        <div class="col-md-6">
            <app-view-heading 
            [title]="pageTitle"                      
            ></app-view-heading>    
        </div>
        <div class="col-md-6" style="position: relative">
            <span style="position:absolute; right:2%; top:20%">{{dashboardtime}}</span>
        </div>
    </div>
    
    
    <div class="row mt-4">         
        <div class="col-md-3">  
            <div class="row">
                <div class="col-md-12">
                    <app-indicator-custom-sample
                    [name]="'% Predicted Pass'"
                    [group]=""
                    [callout]="PredictedPassResult"
                    [details]=""                                            
                    ></app-indicator-custom-sample>                  
                </div>
            </div>            

            <div class="row mt-2">
                <div class="col-md-12" >
                    <app-indicator-custom-sample
                    [name]="'% Predicted Fail'"
                    [group]=""
                    [callout]="PredictedFailResult"
                    [details]=""
                    ></app-indicator-custom-sample>    
                </div>
            </div>
         
            <div class="row mt-2">
                <div class="col-md-12">
                    <app-indicator-custom-sample
                    [name]="'Total Fail / Total Predictions'"
                    [group]=""
                    [callout]="TotalFailOverTotalCase" 
                    [details]=""
                    ></app-indicator-custom-sample>
                </div>
            </div>
                            
        </div>

        <div class="col-md-9" >
            <section class="chart" style="height:20%">
                <kendo-chart>
                    <kendo-chart-value-axis>
                        <kendo-chart-value-axis-item [min]="0" [max]="100" ></kendo-chart-value-axis-item>
                    </kendo-chart-value-axis>
                    <kendo-chart-title text="Real-time Predicted Yield"></kendo-chart-title>
                    <kendo-chart-legend position="bottom" orientation="horizontal" ></kendo-chart-legend>
                    <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
                    <kendo-chart-series>
                        <kendo-chart-series-item *ngFor="let item of realTimeChartSeries" type="line" [style]="smooth" [data]="item.data" [name]="item.name" [markers]="item.markers"></kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>
            </section>    
        </div>    
    </div>

    
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="row">
                <h3>Yield By Machine</h3>
            </div>            
            <div class="row">
                <!-- <div class="col-md-2">
                    <kendo-label [for]="combobox" text="{{'Yield Status' | translate}}"></kendo-label>
                </div>     -->
                <div class="col-md-12">   
                    <kendo-combobox class="form-control" #combobox [data]="listStatus"  (valueChange)="byMachineValueChange($event)">
                    </kendo-combobox>
                </div>    
            </div>
            
            <kendo-grid class="mt-2"
            style="height: 80%"
                [sortable]="true"
                [kendoGridBinding]="YieldByMachineGridData"
                [sort]="sortByMachine">
                <kendo-grid-column field="machineId" title="Machine ID" [width]="68" > 
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <a [routerLink]="['/prediction-machine-page']" [queryParams]="{ machineId: dataItem.machineId }" style="text-decoration: underline;" >{{dataItem.machineId}}</a>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="passRate" title="Predicted Yield (%)" [width]="74">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span style="display: block; height: 35px; padding-top: 10px;" [style.backgroundColor]="cellColorCode(dataItem.passRate,dataItem.targetPassRate)">
                        {{ dataItem.passRate }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="targetPassRate" title="Target (%)" [width]="50"></kendo-grid-column>
            </kendo-grid>

        </div>

        <div class="col-md-3">            
            <div class="row">
                <h3>Yield By Process</h3>
            </div>
            <div class="row">
                <!-- <div class="col-md-2">
                    <kendo-label [for]="combobox" text="{{'Yield Status' | translate}}"></kendo-label>
                </div>     -->
                <div class="col-md-12">   
                    <kendo-combobox class="form-control" #combobox [data]="listStatus"  (valueChange)="byProcessValueChange($event)">
                    </kendo-combobox>
                </div>    
            </div>

            <kendo-grid class="mt-2"
            
                [sortable]="true"
                [kendoGridBinding]="YieldByProcessGridData"
                [sort]="sortByProcess">
                <kendo-grid-column field="processId" title="Process ID" [width]="68" > 
                </kendo-grid-column>
                <kendo-grid-column field="passRate" title="Predicted Yield (%)" [width]="74">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span style="display: block; height: 35px; padding-top: 10px;" [style.backgroundColor]="cellColorCode(dataItem.passRate,dataItem.targetPassRate)">
                        {{ dataItem.passRate }}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="targetPassRate" title="Target (%)" [width]="50"></kendo-grid-column>
            </kendo-grid>
        </div>

        <div class="col-md-6">
            <section class="chart">
                <kendo-chart [categoryAxis]="{ categories: categories, labels: { rotation: 'auto'}  }">
                    <kendo-chart-value-axis>
                        <kendo-chart-value-axis-item [min]="0" [max]="100" ></kendo-chart-value-axis-item>
                    </kendo-chart-value-axis>
                    <kendo-chart-title text="Daily Predicted Yield (Last 14 days)"></kendo-chart-title>
                    <kendo-chart-legend position="bottom" orientation="horizontal" ></kendo-chart-legend>
                    <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
                    <kendo-chart-series>
                        <kendo-chart-series-item *ngFor="let item of dailyChartSeries" type="line" [style]="smooth" [data]="item.data" [name]="item.name" [markers]="item.markers"></kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>
            </section>

        </div>

    </div> 
    
</div>

