@import "variables";

.Indicator {
  position: relative;
  //display: inline-block;
  padding: 1rem 2rem;
  border: $border-100;
  border-radius: $border-radius;
  background: $white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;



  &.large {


    padding: 3rem 2rem;



    .Indicator__name {
      font-size: $font-size-xl;
    }

    .Indicator__group {
      margin: 0;
      font-size: $font-size-xl;
    }

    .Indicator__detail {
      font-size: $font-size-xl;
    }

    .Indicator__callout {
      margin: 4rem 0;
      font-size: $font-size-xxl;
    }


  }


  &__name, &__group, &__callout {
    word-break: break-all;
  }

  &__name {
    margin: 0;
  }

  &__group {
    margin: 0 0 0.5rem 0;
    font-size: $font-size-sm;
    text-transform: uppercase;
    color: $gray-600;
  }

  &__callout {
    font-size: $font-size-h1;
  }

  &__detail {
    margin: 0;
    color: $gray-600;
    font-size: $font-size-sm;
  }

  &__status {
    position: absolute;
    left: 0;
    top: 0;
    width: 0.5rem;
    height: 100%;
    background: $success;

    &.success {
      background: $success;
    }
    &.error {
      background: $error;
    }
    &.warning {
      background: $warning;
    }
  }

}

