<div class="Indicator" [ngClass]="size" >
  <div class="Indicator__title">
    <h3 class="Indicator__name">{{ name }}</h3>
    <p class="Indicator__group">{{ group }}</p>
  </div>
  <p class="Indicator__callout">{{ callout }}</p>
  <div class="Indicator__details">
    <p class="Indicator__detail" *ngFor="let detail of details">{{ detail }}</p>
  </div>
  <span [ngClass]="status" class="Indicator__status"></span>
</div>

