/* You can add global styles to this file, and also import other style files */

// Set the variables before
@import "variables";
@import "base";
@import "components";
@import "~@progress/kendo-theme-bootstrap/dist/all.scss";
@import "~bootstrap/scss/bootstrap-grid.scss";



section.chart {

  border: $border-100;
  border-radius: $border-radius;
  //padding: 0.5rem;

}
// Overwrite button styling in KendoUI's grid command column
.k-command-cell button{
  background: none;
  padding: 0;
  border: none;
}
.k-dialog-content {
  text-align: center;
}

// override here as the styling seems to have problem
.k-datetime-selector {
  .k-calendar-view {
    padding: 0;
  }
  .k-today {
    margin: 0.375rem 0.75rem
  }
}

.k-textarea {
  width: 100%
}
kendo-upload-action-buttons.k-actions.k-actions-end {
  flex-direction: row-reverse;
}

//prevent notification message from spilling outside of container
.k-notification-content {
  word-break: break-all;
}


.dis-custom-menu-bar {

  &.k-panelbar{
    background: none;
    border: none;

    .k-item {
      border: none;
    }

    .k-link:hover{
      cursor: pointer;
    }

    .dis-custom-panelbar-item{
      .dis-custom-panelbar-child{
        &.active {
          >.k-link{
            color: inherit;
            background: $gray-700;
            box-shadow: inset 0 -0.1rem 0 0 $primary;

            &:focus, &:focus.k-state-selected ,&.k-state-selected, &.k-state-focus.k-state-selected, &.k-state-focused.k-state-selected {
              color: inherit;
              background: $gray-700;
              box-shadow: inset 0 -0.1rem 0 0 $primary;
            }
          }
        }
        >.k-link{
          display: block;
          padding: 0.75rem 1rem;
          border-radius: $border-radius;
          transition: $transition-100;

          &:hover{
            cursor: pointer;
          }

          &:focus, &:focus.k-state-selected ,&.k-state-selected, &.k-state-focus.k-state-selected, &.k-state-focused.k-state-selected {
            color: inherit;
            background: inherit;
            box-shadow: none;
          }

          a {
            color: $gray-300;
            text-decoration: none;
          }
          &:hover{
            background: #393947;
            color: inherit;
          }
        }
      }

      >.k-header{
        background: none;
        border: none;
        margin: 0;
        color: #cbcbd6;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.875rem;
        padding: 0.75rem 0rem;

        &:hover {
          background: none;
        }

        &.k-link{
          padding: 0.75rem 0rem;

          &.k-state-selected,  &:focus, &.k-state-selected:focus, &.k-state-focused {
            background: none;
            box-shadow: none;
          }
        }
      }

    }
  }


}

.vh-10 {
  height: 10vh;
}
.vh-20 {
  height: 20vh;
}
.vh-30 {
  height: 30vh;
}
.vh-40 {
  height: 40vh;
}
.vh-50 {
  height: 50vh;
}
.vh-60 {
  height: 60vh;
}
.vh-70 {
  height: 70vh;
}
.vh-80 {
  height: 80vh;
}
.vh-90 {
  height: 90vh;
}


@include media-breakpoint-up(sm) {
  .vh-sm-10 {
  height: 10vh;
  }
  .vh-sm-20 {
    height: 20vh;
  }
  .vh-sm-30 {
    height: 30vh;
  }
  .vh-sm-40 {
    height: 40vh;
  }
  .vh-sm-50 {
   height: 50vh;
  }
  .vh-sm-60 {
    height: 60vh;
  }
  .vh-sm-70 {
    height: 70vh;
  }
  .vh-sm-80 {
    height: 80vh;
  }
  .vh-sm-90 {
    height: 90vh;
  }
}
@include media-breakpoint-up(md) {
  .vh-md-10 {
    height: 10vh;
  }
  .vh-md-20 {
    height: 20vh;
  }
  .vh-md-30 {
    height: 30vh;
  }
  .vh-md-40 {
    height: 40vh;
  }
  .vh-md-50 {
    height: 50vh;
  }
  .vh-md-60 {
    height: 60vh;
  }
  .vh-md-70 {
    height: 70vh;
  }
  .vh-md-80 {
    height: 80vh;
  }
  .vh-md-90 {
    height: 90vh;
  }
}
@include media-breakpoint-up(lg) {
  .vh-lg-10 {
    height: 10vh;
  }
  .vh-lg-20 {
    height: 20vh;
  }
  .vh-lg-30 {
    height: 30vh;
  }
  .vh-lg-40 {
    height: 40vh;
  }
  .vh-lg-50 {
    height: 50vh;
  }
  .vh-lg-60 {
    height: 60vh;
  }
  .vh-lg-70 {
    height: 70vh;
  }
  .vh-lg-80 {
    height: 80vh;
  }
  .vh-lg-90 {
    height: 90vh;
  }

}
@include media-breakpoint-up(xl) {

  .vh-xl-10 {
    height: 10vh;
  }
  .vh-xl-20 {
    height: 20vh;
  }
  .vh-xl-30 {
    height: 30vh;
  }
  .vh-xl-40 {
    height: 40vh;
  }
  .vh-xl-50 {
    height: 50vh;
  }
  .vh-xl-60 {
    height: 60vh;
  }
  .vh-xl-70 {
    height: 70vh;
  }
  .vh-xl-80 {
    height: 80vh;
  }
  .vh-xl-90 {
    height: 90vh;
  }
}
@include media-breakpoint-up(xxl) {

  .vh-xxl-10 {
    height: 10vh;
  }
  .vh-xxl-20 {
    height: 20vh;
  }
  .vh-xxl-30 {
    height: 30vh;
  }
  .vh-xxl-40 {
    height: 40vh;
  }
  .vh-xxl-50 {
    height: 50vh;
  }
  .vh-xxl-60 {
    height: 60vh;
  }
  .vh-xxl-70 {
    height: 70vh;
  }
  .vh-xxl-80 {
    height: 80vh;
  }
  .vh-xxl-90 {
    height: 90vh;
  }
}
@include media-breakpoint-up(xxxl) {
  html {
    font-size: 18px;
  }
}
@include media-breakpoint-up(xxxxl) {
  html {
    font-size: 22px;
  }
}

